
body{
	background-color: #1c160e;
	background-image: url("../images/gaming-pattern.png");
	color: #6495ED;
}

h1{
	font-size: 45px;
	text-align: center;
	font-family: "Sedgwick Ave", Times, serif;
}

.press{	
	color: red;
}
h3{
	font-size: 25px;
	text-align: center;
	font-family: "Shadows Into Light Two";
}

p{
	font-size: 15px;
	text-align: center;
	font-family: "Shadows Into Light Two";

}

li{
	font-size: 14px;
	font-family: "Shadows Into Light Two";
	font-weight: bold;
}

span{
	color: red;
}
